<main class="h-100">
  <div class="auth-form">
    <div class="auth-form-container">
      <h2 class="text-center">Sign in</h2>
      <div class="text-center social-btn">
        <a href="#" class="btn btn-outline-primary btn-block"><i class="fa fa-facebook"></i> Sign in with <b>Facebook</b></a>
        <a href="#" class="btn btn-outline-info btn-block"><i class="fa fa-twitter"></i> Sign in with <b>Twitter</b></a>
        <a href="#" class="btn btn-outline-danger btn-block"><i class="fa fa-google"></i> Sign in with <b>Google</b></a>
        <a href="#" class="btn btn-outline-secondary btn-block"><i class="fa fa-github"></i> Sign in with <b>Github</b></a>
      </div>
      <div class="or-seperator"><i>or</i></div>
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
